In [10]:
import pandas as pd
import numpy as np
import json
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [2]:
from predict import predict

In [73]:
df = pd.read_json('data/data.json')
#df.drop(columns='acct_type', inplace=True)

In [74]:
df_sample_1 = df.iloc[500, :].copy()
df_sample_2 = df.iloc[0, :].copy()

In [26]:
json_1 = df_sample_1.to_json()
json_2 = df_sample_2.to_json()

In [70]:
df_1 = predict(df_sample_1)

In [76]:
df_sample_1

acct_type                                                     fraudster
approx_payout_date                                           1207375200
body_length                                                        2264
channels                                                              0
country                                                              GB
currency                                                            GBP
delivery_method                                                     NaN
description           <p>\r\nLIDF Sunday at the Roxy - Part 2\r\n</p...
email_domain                                                 lidf.co.uk
event_created                                                1205532634
event_end                                                    1206943200
event_published                                                     NaN
event_start                                                  1206927000
fb_published                                                          0
gts                                                                   0
has_analytics                                                         0
has_header                                                            0
has_logo                                                              1
listed                                                                y
name                                   LIDF Sunday at the Roxy - Part 2
name_length                                                          32
num_order                                                             0
num_payouts                                                           0
object_id                                                        104011
org_desc              PocketPictures runs the London International D...
org_facebook                                                          0
org_name                                                 PocketPictures
org_twitter                                                           0
payee_name
payout_type
previous_payouts                                                     []
sale_duration                                                       NaN
sale_duration2                                                       16
show_map                                                              1
ticket_types          [{'event_id': 104011, 'cost': 5.0, 'availabili...
user_age                                                            686
user_created                                                 1146260369
user_type                                                             3
venue_address                               128-132 Borough High Street
venue_country                                                        GB
venue_latitude                                                  51.5028
venue_longitude                                              -0.0925694
venue_name                                          Roxy Bar and Screen
venue_state                                              Greater London
Name: 500, dtype: object

In [72]:
df_sample_1

approx_payout_date                                                 1207375200
body_length                                                              2264
channels                                                                    0
country                                                                    GB
currency                                                                  GBP
delivery_method                                                             4
description                 <p>\r\nLIDF Sunday at the Roxy - Part 2\r\n</p...
email_domain                                                       lidf.co.uk
event_created                                                      1205532634
event_end                                                          1206943200
event_published                                                           NaN
event_start                                                        1206927000
fb_published                                                                0
gts                                                                         0
has_analytics                                                               0
has_header                                                                  0
has_logo                                                                    1
listed                                                                      y
name                                         LIDF Sunday at the Roxy - Part 2
name_length                                                                32
num_order                                                                   0
num_payouts                                                                 0
object_id                                                              104011
org_desc                    PocketPictures runs the London International D...
org_facebook                                                                0
org_name                                                       PocketPictures
org_twitter                                                                 0
payee_name
payout_type
previous_payouts                                                           []
sale_duration                                                             NaN
sale_duration2                                                             16
show_map                                                                    1
ticket_types                [{'event_id': 104011, 'cost': 5.0, 'availabili...
user_age                                                                  686
user_created                                                       1146260369
user_type                                                                   3
venue_address                                     128-132 Borough High Street
venue_country                                                              GB
venue_latitude                                                        51.5028
venue_longitude                                                    -0.0925694
venue_name                                                Roxy Bar and Screen
venue_state                                                    Greater London
previous_payouts_length                                                     0
previous_payouts_length_                                                    0
ticket_type_length                                                      False
gross_profits                                                              95
gross_profits_dummie                                                        2
fraud_probability                                                     0.91802
Name: 500, dtype: object

In [36]:
df_sample_1['ticket_types']

[{'event_id': 1179983,
  'cost': 8.0,
  'availability': 1,
  'quantity_total': 1000,
  'quantity_sold': 13},
 {'event_id': 1179983,
  'cost': 5.0,
  'availability': 1,
  'quantity_total': 200,
  'quantity_sold': 4},
 {'event_id': 1179983,
  'cost': 14.0,
  'availability': 1,
  'quantity_total': 145,
  'quantity_sold': 16},
 {'event_id': 1179983,
  'cost': 20.0,
  'availability': 1,
  'quantity_total': 60,
  'quantity_sold': 4}]

In [38]:
for i in df_sample_1['ticket_types']:
    print(i['cost'])

8.0
5.0
14.0
20.0

In [52]:
df[df['delivery_method'].isna()]

,approx_payout_date,body_length,channels,country,currency,delivery_method,description,email_domain,event_created,event_end,...,ticket_types,user_age,user_created,user_type,venue_address,venue_country,venue_latitude,venue_longitude,venue_name,venue_state
500,1207375200,2264,0,GB,GBP,NaN,<p>\r\nLIDF Sunday at the Roxy - Part 2\r\n</p...,lidf.co.uk,1205532634,1206943200,...,"[{'event_id': 104011, 'cost': 5.0, 'availabili...",686,1146260369,3,128-132 Borough High Street,GB,51.502767,-0.092569,Roxy Bar and Screen,Greater London
501,1207447200,1019,0,GB,GBP,NaN,<p>\r\n<strong>Aboriginal Rules</strong><br />...,lidf.co.uk,1205532859,1207015200,...,"[{'event_id': 104013, 'cost': 5.0, 'availabili...",686,1146260369,3,128-132 Borough High Street,GB,51.502767,-0.092569,Roxy Bar and Screen,Greater London
1500,1173672000,1639,6,GB,GBP,NaN,Winner: The Rory Peck Award for Features \r\n\...,lidf.co.uk,1171223344,1173243600,...,"[{'event_id': 48130, 'cost': 5.0, 'availabilit...",289,1146260369,3,31 Old Gloucester Street,GB,51.503116,-0.124740,October Gallery,Greater London
2000,1295524800,3198,5,US,USD,NaN,"<p style=""text-align: center;"">The rumors are ...",kineticevents.com,1294104839,1295092800,...,"[{'event_id': 463048, 'cost': 10.0, 'availabil...",446,1255562574,1,119 Utah Street,US,37.767475,-122.406878,,
3000,1207357200,3266,0,GB,GBP,NaN,<p>\r\nLIDF Sunday at the Roxy - Part 1\r\n</p...,lidf.co.uk,1205532138,1206925200,...,"[{'event_id': 104008, 'cost': 5.0, 'availabili...",686,1146260369,3,128-132 Borough High Street,GB,51.502767,-0.092569,Roxy Bar and Screen,Greater London
3001,1207533600,1669,0,GB,GBP,NaN,<p>\r\n<strong>Coca Zero (Koka Zero)<br />\r\n...,lidf.co.uk,1205533074,1207101600,...,"[{'event_id': 104016, 'cost': 5.0, 'availabili...",686,1146260369,3,128-132 Borough High Street,GB,51.502767,-0.092569,Roxy Bar and Screen,Greater London
4000,1238805000,1846,6,GB,GBP,NaN,"<p><a href=""http://www.lidf.co.uk/lidf09/films...",lidf.co.uk,1236450223,1238373000,...,"[{'event_id': 301632, 'cost': 7.0, 'availabili...",1044,1146260369,3,128-132 Borough High Street,GB,51.502767,-0.092569,Roxy Bar and Screen,Greater London
4001,1238774400,1157,6,GB,GBP,NaN,"<p><a href=""http://www.lidf.co.uk/lidf09/films...",lidf.co.uk,1236452373,1238342400,...,"[{'event_id': 301642, 'cost': 7.0, 'availabili...",1044,1146260369,3,128-132 Borough High Street,GB,51.502767,-0.092569,Roxy Bar and Screen,Greater London
5000,1365478200,4108,8,PE,USD,NaN,"<p style=""margin-top: 0.5em; margin-bottom: 0....",gmail.com,1363002493,1365046200,...,"[{'event_id': 422185, 'cost': 22.63, 'availabi...",1561,1228186684,3,29 West 26th Street,US,40.744441,-73.989971,Gerald Marks Studio,NY
5500,1207620000,934,0,GB,GBP,NaN,<p>\r\n<strong>Second Sight<br />\r\n</strong>...,lidf.co.uk,1205533256,1207188000,...,"[{'event_id': 104017, 'cost': 5.0, 'availabili...",686,1146260369,3,128-132 Borough High Street,GB,51.502767,-0.092569,Roxy Bar and Screen,Greater London
6000,1349305200,1669,11,US,USD,NaN,"<p><span style=""color: #333333; font-family: '...",gmail.com,1347929276,1348873200,...,"[{'event_id': 389649, 'cost': 0.0, 'availabili...",1598,1209840270,3,,None,NaN,NaN,None,None
7500,1171256400,2164,6,GB,GBP,NaN,Producer’s note \r\n\r\nThe Amazon rainforest ...,lidf.co.uk,1170332468,1170824400,...,"[{'event_id': 47146, 'cost': 5.0, 'availabilit...",279,1146260369,3,24 Old Gloucester Street,GB,51.503116,-0.124740,October Gallery,Greater London
8000,1173074400,5967,6,GB,GBP,NaN,"Golden Globe, San Francisco International Film...",lidf.co.uk,1171222570,1172642400,...,"[{'event_id': 48129, 'cost': 5.0, 'availabilit...",289,1146260369,3,31 Old Gloucester Street,GB,51.503116,-0.124740,October Gallery,Greater London
8001,1238904000,1857,6,GB,GBP,NaN,"<div style=""background-color: #eee; border: 1p...",lidf.co.uk,1236452739,1238472000,...,"[{'event_id': 301647, 'cost': 10.0, 'availabil...",1044,1146260369,3,30 Colonnade,GB,51.522928,-0.123980,The Horse Hospital,"London, City Of"
11500,1207702800,1478,0,GB,GBP,NaN,<p>\r\n<strong>With a Stroke of the Chaveta (C...,lidf.co.uk,1205533623,1207270800,...,"[{'event_id': 104018, 'cost': 5.0, 'availabili...",686,1146260369,3,128-132 Borough High Street,GB,51.502767,-0.092569,Roxy Bar and Screen,Greater London
11501,1352160000,4877,11,US,USD,NaN,"<p> </p>\r\n<table class=""uiGrid mvm"" style=""w...",gmail.com,1349194534,1351724400,...,"[{'event_id': 382227, 'cost': 0.0, 'availabili...",1180,1247251648,3,,US,33.748995,-84.387982,,GA

In [68]:
type(df_sample_1['delivery_method'])

float

In [62]:
type(np.nan)

float

In [78]:
len(df['object_id'].unique())

14337

In [79]:
df.shape

(14337, 44)

In [67]:
delivery_methods = [0., 1., 3.]
if df_sample_1['delivery_method'] not in delivery_methods:
    df_sample_1['delivery_method'] = 4.

In [86]:
d = {
            'object_id': df_1['object_id'],
            'name': df_1['name'],
            'org_name': df_1['org_name'],
            'fraud_probability': df_1['fraud_probability']
        }

In [85]:
d

{'object_id': 104011,
 'name': 'LIDF Sunday at the Roxy - Part 2',
 'org_name': 'PocketPictures',
 'fraud_probability': 0.9180203950974756,
 'test': None}

In [107]:
!python test_script.py

in entry_new
it is new

In [92]:
from pymongo import MongoClient
client = MongoClient('localhost', 27017)
db = client['frauds_test']
table = db['new_events_test']

In [102]:
d = {
        'object_id': str(df_1['object_id']),
        'name': df_1['name'],
        'org_name': df_1['org_name'],
        'fraud_probability': df_1['fraud_probability']
        }
        #table.insert_one(d)

In [103]:
d

{'object_id': '104011',
 'name': 'LIDF Sunday at the Roxy - Part 2',
 'org_name': 'PocketPictures',
 'fraud_probability': 0.9180203950974756}

In [104]:
table.insert_one(d)

In [100]:
df_1['object_id']

104011