In [2]:
from pymongo import MongoClient

import pprint

import requests

import time

import pandas as pd
import numpy as np

%load_ext autoreload
%autoreload 2

In [ ]:
# client = MongoClient('localhost', 27017)
# db = client['frauds_test']
# table = db['new_events_test2']

In [ ]:
# events = table.find()

# for event in events:
#     pprint.pprint(event)

## Live data test ##

In [6]:
client = MongoClient('localhost', 27017)
db = client['frauds']
table = db['new_events12']

In [13]:
entries = table.find().sort([('sequence', -1)]).sort([('fraud_probability', -1)])

In [14]:
unable = 0
low = 0
medium = 0
high = 0
for each_ in entries:
    if each_['risk_factor'] == 'Unable to Predict':
        unable += 1
    elif each_['risk_factor'] == 'low':
        low += 1
    elif each_['risk_factor'] == 'medium':
        medium += 1
    else:
        high += 1

In [13]:
df = pd.DataFrame(list(a))

In [14]:
df

,_id,sequence,object_id,name,org_name,fraud_probability,risk_factor
0,5ed14bec9a45c149f8aa3d6f,2937,4816089,HU Lacrosse Combine & Alumni Game,Howard University Men's Lacrosse,0.618341,high
1,5ed14aa09a45c149f8aa3d6b,2935,4805725,AbFabParties - Single guys - Members (Fridays)...,AbFabParties,0.078902,low
2,5ed149909a45c149f8aa3d67,2933,4782675,Story-Based Technical and Compliance eLearning...,Vignettes Learning,0.004730,low
3,5ed14b559a45c149f8aa3d6d,2936,4815441,NDP Christmas Party,New Direction Partnership,0.003667,low
4,5ed149ea9a45c149f8aa3d69,2934,4800273,,PRAISE TEMPLE OF CHRIST,0.000000,Unable to Predict

In [19]:
np.around(df['fraud_probability'][0],3)

0.618